.header{
    margin-top: 1%;
    color:rgb(163, 0, 0);
    display: flex;
    justify-content: space-between;
}
.header h2{
    font-weight: 400;
}
.header-container{
    line-height: 0;
    color: rgb(246, 195, 11);
    font-size: larger;
    font-weight: lighter;
    margin-left: 8%;
}

@media (max-width: 900px) {
    .header{
        line-height: 40px;
    }
    .header-container{
        line-height: 30px;
    }
  }