:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(48, 87%, 54%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(180, 1%, 75%);
    --varyDarkBlue: hsl(15, 98%, 38%);
    --grayishBlue: hsl(230, 5%, 24%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}

small{
    color: rgb(111, 108, 108);
    font-size: 0.9rem;
  }
strong{
    color: rgb(111, 108, 108);
    font-size: 1rem;
}

h5{
    color: rgb(111, 108, 108);
    font-size: 1.2rem;
  }
h3{
    color: rgb(111, 108, 108);
}

.col1 .col2 .col3 h4{
    color: rgb(163, 0, 0);;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
.row-container{
    margin-top: 4%;
    margin-left: 10%;
    margin-right: 5%;
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    border-radius: 3px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    width: 80%;
    height: 350px;
    border: none;
    position: relative;
}

.col1{
    margin-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    border-radius: 3px;
    background-color: rgba(249, 232, 201, 0.753);
    border: none;
}
.col2{
    margin-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    border-radius: 3px;
    background-color: rgba(249, 232, 201, 0.753);
    border: none;
}
.col3{
    padding-left: 5%;
    padding-bottom: 5%;
    border-radius: 3px;
    background-color: rgba(249, 232, 201, 0.753);
    border: none;
}

h4 {
    color: var(--varyDarkBlue);
    font-weight: var(--weight3);
}
h2 {
    color: var(--varyDarkBlue);
    font-weight: var(--weight3);
    text-align: center;
    margin-top: 100px;
}
hr{
    height: 2px;
    background-color: rgb(121, 119, 119);
    width: 70%;
}

.question-heading h2{
    color: rgb(163, 0, 0);
    text-align: center;
}

@media (max-width: 768px) {
    .row-container {
      width: 80%;
      height: 1300px;
      margin: 0%;
      padding: 2%;
      display: grid;
      grid-template-columns: 1fr;
      top:780vh;
      order: 3;
    }
    .question-heading{
        color: rgb(163, 0, 0);
        position: absolute;
        margin: 0%;
        padding-right: 10px;
        top:780vh;
    }
  }

  @media (min-width: 800px) and (max-width: 1000px){
    .row-container {
        width: 80%;
        height: 1300px;
        margin: 0%;
        padding: 2%;
        display: grid;
        grid-template-columns:1 1fr;
        top:780vh;
        order: 3;
      }
      .question-heading{
          color: rgb(163, 0, 0);
          position: absolute;
          margin: 0%;
          padding-right: 10px;
          top:780vh;
      }
  }