:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(233, 9%, 62%);
    --grayishBlue: hsl(230, 5%, 24%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

h1:first-of-type {
    font-weight: var(--weight1);
    color: var(--varyDarkBlue);

}

h1:last-of-type {
    color: var(--varyDarkBlue);
}


.design{
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    width: 280px;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.821);
    border: 2px solid rgba(237, 237, 237, 0.543);
    position: relative;
}
.design img{
    width: 276px;
    height: 180px;
    border: 2px solid rgb(237, 237, 237);
    border-radius: 5px;
    padding: 2px;
    
}
.infotext{
    line-height: 20px;
}
.design p{
    padding-left: 20px;  
    padding-right: 20px; 
}
.design-info{
    margin-top: 0%;
}
.craftname{
    color: rgb(163, 0, 0);
    font-weight: bold;
}
.creatorname{
    color: rgb(163, 0, 0);
}
.design-info p{
    font-size: 16px;
    font-weight: 400;  
    padding-left: 20px;  
    padding-right: 20px; 
    line-height: 10px;
}
.btn-card{
    font-size: 16px;
    font-weight: bold;  
    background-color: rgb(111, 108, 108);
    border: none;
    width: 100%;
    color: white;
    border-radius: 0px 0px 8px 8px;
    margin-bottom: 0%;
    position:absolute;
    bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-card:hover{
    background-color:  rgb(163, 0, 0);
    color: white;
}
